## Visual Studio files
.vs/
bin/
obj/
Build/
*.user
*.suo

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## Test files
[Tt]ests/
[Tt]est[Rr]esults/
test_logs/
test_monitoring/
*.test.*
*.[Tt]est.*
*.[Tt]ests.*

## Backup files
FileGuard_Backup/
*.zip

## Log files
*.log
